@font-face {
	font-family: "Heroes Assemble2";
	src: url('/assets/heroesassemble2');
}


body {
	margin:42px;
}

h1 {
	font-family: "Heroes Assemble2", "Arial Black", sans-serif;
	font-size: 3.5em;
}

p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}